{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Produit Edit</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"> Edit Product </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="form-group">

                                <table class="table">
                                    <tbody id="myTable">
                                    <tr>
                                        <th>IdProduit</th>
                                        <td>{{ produit.idProduit }}</td>
                                    </tr>
                                    <tr>
                                        <th>NameProd</th>
                                        <td>{{ produit.nameProd }}</td>
                                    </tr>
                                    <tr>
                                        <th>ProdDescription</th>
                                        <td>{{ produit.prodDescription }}</td>
                                    </tr>
                                    <tr>
                                        <th>TypeProd</th>
                                        <td>{{ produit.typeProd }}</td>
                                    </tr>
                                    <tr>
                                        <th>PriceProd</th>
                                        <td>{{ produit.priceProd }}</td>
                                    </tr>
                                    <tr>
                                        <th>Quantité</th>
                                        <td>{{ produit.quantite }}</td>
                                    </tr>
                                    <tr>
                                        <th>ImageProd</th>
                                        <td>{{ produit.imageProd }}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>{{ produit.status }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                {{ include('produit/_delete_form.html.twig') }}

                                <!-- Bouton "Back to list" -->




                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>
            <div class="row">

            </div>
        </section>
        <!-- /.content -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable th").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
