{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <h1>Ville</h1>

    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>User Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"> Edit User </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">General</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
 
              <div class="form-group">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ville.id }}</td>
            </tr>
            <tr>
                <th>Nomville</th>
                <td>{{ ville.nomville }}</td>
            </tr>
            <tr>
                <th>Gouvernant</th>
                <td>{{ ville.gouvernant }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ville.description }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ ville.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ ville.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ville_index') }}">back to list</a>

    <a href="{{ path('app_ville_edit', {'id': ville.id}) }}">edit</a>

    {{ include('ville/_delete_form.html.twig') }}
</div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
 
      </div>
      <div class="row">

      </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
