<head>
  <meta charset="utf-8">
  <title>{% block title %}RoadRevel{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free HTML Templates" name="keywords">
  <meta content="Free HTML Templates" name="description">
  {% block css %}
      <link href="{{ asset('front/customStyle.css') }}"
      <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
      <!-- Favicon -->
      <link href="{{ asset('front/img/favicon.ico') }}" rel="icon">

      <!-- Google Web Fonts -->
      <link rel="preconnect" href="{{ asset('https://fonts.gstatic.com') }}">
      <link href="{{ asset('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap') }}" rel="stylesheet">

      <!-- Font Awesome -->
      <link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css') }}" rel="stylesheet">

      <!-- Libraries Stylesheet -->
      <link href="{{ asset('front/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
      <link href="{{ asset('front/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

      <!-- Customized Bootstrap Stylesheet -->
      <link href="{{ asset('front/css/style.css') }}" rel="stylesheet">
  {% endblock %}

<body>
  <!-- Topbar Start -->
  <div class="container-fluid bg-light pt-3 d-none d-lg-block">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                  <div class="d-inline-flex align-items-center">
                      <p><i class="fa fa-envelope mr-2"></i>roadrevel@esprit.tn</p>
                      <p class="text-body px-3">|</p>
                      <p><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</p>
                  </div>
              </div>
              <div class="col-lg-6 text-center text-lg-right">
                  <div class="d-inline-flex align-items-center">
                      <a class="text-primary px-3" href="">
                          <i class="fab fa-facebook-f"></i>
                      </a>
                      <a class="text-primary px-3" href="">
                          <i class="fab fa-twitter"></i>
                      </a>
                      <a class="text-primary px-3" href="">
                          <i class="fab fa-linkedin-in"></i>
                      </a>
                      <a class="text-primary px-3" href="">
                          <i class="fab fa-instagram"></i>
                      </a>
                      <a class="text-primary pl-3" href="">
                          <i class="fab fa-youtube"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Topbar End -->
  <div class="container-fluid position-relative nav-bar p-0">
      <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
          <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
              <a href="" class="navbar-brand">
                  <h1 class="m-0 text-primary"><span class="text-dark">Road</span>REVEL</h1>
              </a>
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                  <div class="navbar-nav ml-auto py-0">
                      <a href="{{ path('app_homepage') }}" class="nav-item nav-link active">Home</a>
                      <a href="{{ path('front_placetovisit_index') }}" class="nav-item nav-link">place</a>
                      <a href="{{ path('currency_convert') }}" class="nav-item nav-link">currency converter</a>
                      <a href="{{ path('front_favplaces_index') }}" class="nav-item nav-link">Favorite places</a>
                      {# <a href="{{ path('front_placetovisit_index') }}" class="nav-item nav-link">Place to visite</a> #}
                      <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Product</a>
                          <div class="dropdown-menu border-0 rounded-0 m-0">
                              <a href="{{ path('app_produit_index_touriste') }}" class="dropdown-item">View All Product</a>
                              <a href="{{ path('app_produit_new_touriste') }}" class="dropdown-item">Add your own Product</a>

                          </div>
                      </div>
                      <a href="" class="nav-item nav-link">Contact</a>
                  </div>
              </div>
          </nav>
      </div>
  </div>
  <section class="s-bricks">
      {% block body %}
      
      {% endblock %}
  </section>


  {% block JavaScript %}
      <!-- JavaScript Libraries -->
      <script src="{{ asset('https://code.jquery.com/jquery-3.4.1.min.js') }}"></script>
      <script src="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ asset('front/lib/easing/easing.min.js') }}"></script>
      <script src="{{ asset('front/lib/owlcarousel/owl.carousel.min.js') }}"></script>
      <script src="{{ asset('front/lib/tempusdominus/js/moment.min.js') }}"></script>
      <script src="{{ asset('front/lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
      <script src="{{ asset('front/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>

      <!-- Contact Javascript File -->
      <script src="{{ asset('front/mail/jqBootstrapValidation.min.js') }}"></script>
      <script src="{{ asset('front/mail/contact.js') }}"></script>
      <script language="JavaScript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
      <!-- Template Javascript -->
      <script src="{{ asset('front/js/main.js') }}"></script>
      <script src="{{ asset('plugins/jquery-mousewheel/jquery.mousewheel.js')}}"></script>
      <script src="{{ asset('plugins/raphael/raphael.min.js')}}"></script>
      <script src="{{ asset('plugins/jquery-mapael/jquery.mapael.min.js')}}"></script>
      <script src="{{ asset('plugins/jquery-mapael/maps/usa_states.min.js')}}"></script>
      <script language="JavaScript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
      <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js')}}"></script>
      <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
      <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
      <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
      <script src="{{ asset('plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>

          <!-- ChartJS -->
      <script src="{{ asset('plugins/chart.js/Chart.min.js')}}"></script>

  {% endblock %}

  </body>

  </html>